<?xml version="1.0"?>
<!--
/**
 * @category   springbot
 * @package    springbot_BoneCollector
 * @author     springbot integration team
 * @license    http://opensource.org/licenses/osl-3.0.php  Open Software License (OSL 3.0)
 */
 -->
<config>

	<global>
		<models>
			<bonecollector>
				<class>Springbot_BoneCollector_Model</class>
			</bonecollector>
		</models>
		<events>
			<catalog_product_save_after>
				<observers>
					<springbot_bonecollector_product_observer>
						<type>singleton</type>
						<class>Springbot_BoneCollector_Model_HarvestProduct_Observer</class>
						<method>harvestProduct</method>
					</springbot_bonecollector_product_observer>
				</observers>
			</catalog_product_save_after>
			<catalog_product_delete_before>
				<observers>
					<springbot_bonecollector_productdelete_observer>
						<type>singleton</type>
						<class>Springbot_BoneCollector_Model_HarvestProduct_Observer</class>
						<method>deleteProduct</method>
					</springbot_bonecollector_productdelete_observer>
				</observers>
			</catalog_product_delete_before>
			<catalog_category_save_after>
				<observers>
					<springbot_bonecollector_categorysave_observer>
						<type>singleton</type>
						<class>Springbot_BoneCollector_Model_HarvestCategory_Observer</class>
						<method>saveCategory</method>
					</springbot_bonecollector_categorysave_observer>
				</observers>
			</catalog_category_save_after>
			<catalog_category_delete_after>
				<observers>
					<springbot_bonecollector_categorysave_observer>
						<type>singleton</type>
						<class>Springbot_BoneCollector_Model_HarvestCategory_Observer</class>
						<method>deleteCategory</method>
					</springbot_bonecollector_categorysave_observer>
				</observers>
			</catalog_category_delete_after>
			<customer_save_after>
				<observers>
					<springbot_bonecollector_customersave_observer>
						<type>singleton</type>
						<class>Springbot_BoneCollector_Model_HarvestCustomer_Observer</class>
						<method>saveCustomer</method>
					</springbot_bonecollector_customersave_observer>
				</observers>
			</customer_save_after>
			<customer_delete_before>
				<observers>
					<springbot_bonecollector_customersave_observer>
						<type>singleton</type>
						<class>Springbot_BoneCollector_Model_HarvestCustomer_Observer</class>
						<method>deleteCustomer</method>
					</springbot_bonecollector_customersave_observer>
				</observers>
			</customer_delete_before>
			<newsletter_subscriber_save_after>
				<observers>
					<springbot_bonecollector_customersave_observer>
						<type>singleton</type>
						<class>Springbot_BoneCollector_Model_HarvestSubscriber_Observer</class>
						<method>saveSubscriber</method>
					</springbot_bonecollector_customersave_observer>
				</observers>
			</newsletter_subscriber_save_after>
			<newsletter_subscriber_delete_before>
				<observers>
					<springbot_bonecollector_customersave_observer>
						<type>singleton</type>
						<class>Springbot_BoneCollector_Model_HarvestSubscriber_Observer</class>
						<method>deleteSubscriber</method>
					</springbot_bonecollector_customersave_observer>
				</observers>
			</newsletter_subscriber_delete_before>
		</events>
	</global>
	<frontend>
		<events>
			<sales_order_place_after>
				<observers>
					<springbot_bonecollector_purchase_observer>
						<type>singleton</type>
						<class>Springbot_BoneCollector_Model_HarvestPurchase_Observer</class>
						<method>purchaseLogAction</method>
					</springbot_bonecollector_purchase_observer>
				</observers>
			</sales_order_place_after>
			<sales_order_save_after>
				<observers>
					<springbot_bonecollector_purchase_observer>
						<type>singleton</type>
						<class>Springbot_BoneCollector_Model_HarvestPurchase_Observer</class>
						<method>purchaseHarvest</method>
					</springbot_bonecollector_purchase_observer>
				</observers>
			</sales_order_save_after>
			<sales_quote_save_after>
				<observers>
					<springbot_bonecollector_addtocart_observer>
						<type>singleton</type>
						<class>Springbot_BoneCollector_Model_HarvestCart_Observer</class>
						<method>addToCartHarvest</method>
					</springbot_bonecollector_addtocart_observer>
				</observers>
			</sales_quote_save_after>
			<catalog_controller_product_view>
				<observers>
					<springbot_bonecollector_capturesku_observer>
						<type>singleton</type>
						<class>Springbot_BoneCollector_Model_HarvestCaptureSKU_Observer</class>
						<method>captureskuharvest</method>
					</springbot_bonecollector_capturesku_observer>
				</observers>
			</catalog_controller_product_view>
			<checkout_cart_add_product_complete>
				<observers>
					<springbot_bonecollector_addskutocart_observer>
						<type>singleton</type>
						<class>Springbot_BoneCollector_Model_HarvestCart_Observer</class>
						<method>captureSku</method>
					</springbot_bonecollector_addskutocart_observer>
				</observers>
			</checkout_cart_add_product_complete>
		</events>
	</frontend>
	<adminhtml>
		<events>
			<sales_order_save_after>
				<observers>
					<springbot_bonecollector_purchase_observer>
						<type>singleton</type>
						<class>Springbot_BoneCollector_Model_HarvestPurchase_Observer</class>
						<method>purchaseHarvestAdmin</method>
					</springbot_bonecollector_purchase_observer>
				</observers>
			</sales_order_save_after>
			<catalog_entity_attribute_save_commit_after>
				<observers>
					<springbot_bonecollector_attribute_observer>
						<type>singleton</type>
						<class>Springbot_BoneCollector_Model_HarvestAttribute_Observer</class>
						<method>attributeSave</method>
					</springbot_bonecollector_attribute_observer>
				</observers>
			</catalog_entity_attribute_save_commit_after>
			<eav_entity_attribute_save_commit_after>
				<observers>
					<springbot_bonecollector_attribute_observer>
						<type>singleton</type>
						<class>Springbot_BoneCollector_Model_HarvestAttribute_Observer</class>
						<method>attributeSetSave</method>
					</springbot_bonecollector_attribute_observer>
				</observers>
			</eav_entity_attribute_save_commit_after>
		</events>
	</adminhtml>
</config>
