app/etc/local.xml
downloader/connect.cfg
includes/stat
tmp/
var/*
media/catalog/product/cache/*
sitemap.xml
downloader/*
.project
wordpress/wp-content/uploads/*
skin/frontend/ultimo/default/css/_config/*
