<?xml version="1.0"?>
<config>
    <modules>
        <Onetree_Seo>
            <version>0.1.0</version>
        </Onetree_Seo>
    </modules>
    <global>
        <blocks>
            <onetree_seo>
                <class>Onetree_Seo_Block</class>
            </onetree_seo>
            <page>
                <rewrite>
                    <html_head>Onetree_Seo_Block_Html_Head</html_head>
                </rewrite>
            </page>
        </blocks>
        <helpers>
            <onetree_seo>
                <class>Onetree_Seo_Helper</class>
            </onetree_seo>
        </helpers>
        <models>
            <seo>
                <class>Onetree_Seo_Model</class>
                <resourceModel>seo_resource</resourceModel>
            </seo>
            <seo>
                <class>Onetree_Seo_Model</class>
                <resourceModel>seo_resource</resourceModel>
            </seo>
            <seo_resource>
                <class>Onetree_Seo_Model_Resource</class>
                <entities>
                    <information>
                        <table>seo_information</table>
                    </information>
                </entities>
            </seo_resource>
        </models>
        <resources>
            <onetree_seo_setup>
                <setup>
                    <module>Onetree_Seo</module>
                </setup>
            </onetree_seo_setup>
        </resources>
    </global>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <Onetree_Seo before="Mage_Adminhtml">Onetree_Seo_Adminhtml</Onetree_Seo>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <adminhtml>
        <layout>
            <updates>
                <onetree_seo>
                    <file>onetree/seo.xml</file>
                </onetree_seo>
            </updates>
        </layout>
    </adminhtml>
</config>
