<?xml version="1.0"?>
<config>
    <modules>
        <Springbot_Imageoverride>
            <version>1.0.0</version>
        </Springbot_Imageoverride>
	</modules>
	<global>
		<helpers>
			<combine>
				<rewrite>
					<parser>Springbot_Imageoverride_Combine_Helper_Parser</parser>
				</rewrite>
			</combine>
		</helpers>
	</global>
</config>
