<?xml version="1.0"?>
<config>
    <modules>
        <Onetree_ShopByArtist>
            <version>0.1.0</version>
        </Onetree_ShopByArtist>
    </modules>
    <global>
        <blocks>
            <onetree_shopbyartist>
                <class>Onetree_ShopByArtist_Block</class>
            </onetree_shopbyartist>
        </blocks>
        <helpers>
            <onetree_shopbyartist>
                <class>Onetree_ShopByArtist_Helper</class>
            </onetree_shopbyartist>
        </helpers>
    </global>
    <default>
    	<shopbyartist>
    		<shopbyartist_config>
    			<category_id>1598</category_id>
    		</shopbyartist_config>
    	</shopbyartist>
    </default>
</config>