<?xml version="1.0"?>
<config>
    <modules>
        <Onetree_Customer>
            <version>0.0.2</version>
        </Onetree_Customer>
    </modules>
    <global>
        <models>
            <otcustomer>
                <class>Onetree_Customer_Model</class>
            </otcustomer>
        </models>
        <resources>
            <otcustomer_setup>
                <setup>
                    <module>Onetree_Customer</module>
                    <class>Mage_Customer_Model_Resource_Setup</class>
                </setup>
            </otcustomer_setup>
        </resources>
        
        <helpers>
            <otcustomer>
                <class>Onetree_Customer_Helper</class>
            </otcustomer>
            
            <customer>
                <rewrite>
                    <data>Onetree_Customer_Helper_Data</data>
                </rewrite>
            </customer>
        </helpers>
        <blocks>
            <otcustomer>
                <class>Onetree_Customer_Block</class>
            </otcustomer>
            
            <customer>
                <rewrite>
                    <form_register>Onetree_Customer_Block_Form_Register</form_register>
                </rewrite>
            </customer>
        </blocks>
    </global>
    <frontend>
        <events>
            <customer_register_success>
                <observers>
                    <customer_creation_observer>
                        <class>otcustomer/observer</class>
                        <method>setFirstLogin</method>
                    </customer_creation_observer>
                    <customer_creation_pro_observer>
                        <class>otcustomer/observer</class>
                        <method>setProCustomer</method>
                    </customer_creation_pro_observer>
                </observers>
            </customer_register_success>
            <controller_action_layout_load_before>
                <observers>
                    <customer_is_logged_in_forfirsttime_observer>
                        <class>otcustomer/observer</class>
                        <method>IsFirstLogin</method>
                    </customer_is_logged_in_forfirsttime_observer>
                </observers>
            </controller_action_layout_load_before>
        </events>
    </frontend>
</config>