<?xml version="1.0"?>

<config>
    <modules>
        <Onetree_Subcatmode>
            <version>0.0.2</version>
		</Onetree_Subcatmode>
    </modules>
    <global>
		<models>
			<subcatmode>
				<class>Onetree_Subcatmode_Model</class>
			</subcatmode>
			<catalog>
				<rewrite>
					<category>Onetree_Subcatmode_Model_Catalog_Category</category>
					<category_attribute_source_mode>Onetree_Subcatmode_Model_Catalog_Category_Attribute_Source_Mode</category_attribute_source_mode>
				</rewrite>
			</catalog>
			<catalog_resource>
				<rewrite>
					<category>Onetree_Subcatmode_Model_Catalog_Resource_Category</category>
				</rewrite>
			</catalog_resource>
			<!-- deprecated -->
			<!-- >catalog_resource_eav_mysql4>
				<rewrite>
					<category>Onetree_Subcatmode_Model_Catalog_Resource_Eav_Mysql4_Category</category>
				</rewrite>
			</catalog_resource_eav_mysql4-->
			<!-- [END] -->
		</models>
		<blocks>
			<subcatmode>
				<class>Onetree_Subcatmode_Block</class>
			</subcatmode>
			<catalog>
				<rewrite>
					<category_view>Onetree_Subcatmode_Block_Catalog_Category_View</category_view>
				</rewrite>
			</catalog>
		</blocks>
        <resources>
            <onetree_subcatmode_setup>
                <setup>
                    <module>Onetree_Subcatmode</module>
                    <class>Mage_Catalog_Model_Resource_Eav_Mysql4_Setup</class>
                </setup>
            </onetree_subcatmode_setup>
        </resources>
   </global>
</config>
