<?xml version="1.0"?>
<config>
    <modules>
        <Onetree_RelatedProducts>
            <version>0.1.0</version>
        </Onetree_RelatedProducts>
    </modules>
    <global>
        <models>
            <onetree_relatedproducts>
                <class>Onetree_RelatedProducts_Model</class>
                <resourceModel>onetree_relatedproducts_resource</resourceModel>
            </onetree_relatedproducts>
            <onetree_relatedproducts_resource>
                <class>Onetree_RelatedProducts_Model_Resource</class>
            </onetree_relatedproducts_resource>
        </models>
        <blocks>
            <onetree_relatedproducts>
                <class>Onetree_RelatedProducts_Block</class>
            </onetree_relatedproducts>
        </blocks>
        <helpers>
            <onetree_relatedproducts>
                <class>Onetree_RelatedProducts_Helper</class>
            </onetree_relatedproducts>
        </helpers>
    </global>
    <frontend>
        <layout>
            <updates>
                <onetree_relatedproducts>
                    <file>relatedproduct.xml</file>
                </onetree_relatedproducts>
            </updates>
        </layout>
        <translate>
            <modules>
                <onetree_relatedproducts>
                    <files>
                        <default>Onetree_RelatedProducts.csv</default>
                    </files>
                </onetree_relatedproducts>
            </modules>
        </translate>
    </frontend>
    <default>
        <related_products>
            <related_products_global_config>
                <total_items>10</total_items>
                <items_per_page>5</items_per_page>
                <autoplay>3000</autoplay>
                <items_mobile>2</items_mobile>
                <image_size>200x200</image_size>
            </related_products_global_config>
            <related_products_same_cateogry>
                <show_same_category>1</show_same_category>
            </related_products_same_cateogry>
            <related_products_same_artist>
                <show_same_artists>1</show_same_artists>
                <category_id>1580</category_id>
            </related_products_same_artist>
        </related_products>
    </default>
</config>