/* Ultimo override configurations
%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%
*/

/* Item grid: 3 columns */
.itemgrid-adaptive.itemgrid-3col .item:nth-child(4n+1) { clear:none !important; }
.itemgrid-adaptive.itemgrid-3col .item:nth-child(3n+1) { clear:left !important; }




/* Slideshow
%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%
*/

/* Slide
-------------------------------------------------------------- */

.owl-carousel .slide .full-width {  width: 100%;  }
.owl-carousel .slide .caption.top { margin: 3% 0; width: 100%; }
.owl-carousel .slide .caption h3 { font: 3.5em bentonsansregular, Arial, "Helvetica Neue", Helvetica, sans-serif; color: #4d4d4d; }
.owl-carousel .slide .caption h3 a { color: #b1a06d; }
.slider-arrows2 .owl-controls .owl-buttons .owl-prev { left: 5%; border-radius: 50%; }
.slider-arrows2 .owl-controls .owl-buttons .owl-next { right: 5%; border-radius: 50%; }




/* Loading page
%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%
*/

#load-screen .overlay { position: fixed; top: 0; z-index: 10; width: 100%; height: 100%; background: url('../images/infortis/_shared/colorbox/overlay.png'); opacity: 0.5; }
#load-screen .loading { position: absolute; left: 50%; top: 50%; z-index: 20; margin: -20px 0 0 -20px; border-radius: 5px; width: 40px; height: 40px; background: #000 url('../images/loading.gif') no-repeat center; }




/* home
%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%
*/

.home-sections-title .title-link { position: relative; bottom: -10px; float: right; color: #a48d4f; font: 15px bentonsansregular, Arial, "Helvetica Neue", Helvetica, sans-serif; text-transform: lowercase; letter-spacing: 0; }


/* Editor's picks section
-------------------------------------------------------------- */
#editor-picks-wrapper ul { text-align: left; }
#editor-picks-wrapper li { position: relative; display: inline-block; margin: 0 6px 10px 0; }
#editor-picks-wrapper .bg-image-pick { width: 180px;  height: 130px; background-position: center center; background-size: auto 200px; }
#editor-picks-wrapper .overlay-opacity { background-color: #000; height: 100%; opacity: 0.5; position: absolute; width: 100%; display: none;}
#editor-picks-wrapper .overlay-more { background: url("../images/more.png") no-repeat center center; display: none; position: absolute; left: 50%; top: 50%; margin: -25px 0 0 -25px; width: 50px; height: 50px; }
#editor-picks-wrapper a:hover .overlay-opacity,#editor-picks-wrapper a:hover .overlay-more { display: block; }


/* Blog posts section
-------------------------------------------------------------- */
.blog-posts { padding-bottom: 5%; width: 102%; }
.blog-posts .blog-isotope { margin: 0 10px 10px 0; }
.blog-posts .overlay-opacity { display: none; position: absolute; width: 100%; height: 100%; opacity: 0.5; background-color: #000; }
.blog-posts .overlay-icon { display: none; position: absolute; width: 100%; height: 100%; background-image: url("../images/more.png"); background-repeat: no-repeat; background-position: center center; background-size: auto 30%; }
.blog-posts .overlay-info { display: none; position: absolute; left: 0; top: 70%; padding: 0.5%; width: 99%; color: #fff; font-family: bentonsansregular, Arial, "Helvetica Neue", Helvetica, sans-serif; font-size: 18px; line-height: 20px; text-align: center; }
.blog-posts .blog-isotope a:hover .overlay-opacity,
.blog-posts .blog-isotope a:hover .overlay-icon,
.blog-posts .blog-isotope a:hover .overlay-info { display: block; }
.blog-posts .bg-image-post { background-position: center center; background-size: auto 100%; background-repeat: no-repeat; }


/* Grid section
-------------------------------------------------------------- */
.product-home-grid  .bg-image-grid { position: absolute; left: 0; top: 0; width: 100%;  height: 100%; background-position: center center; background-size: auto 150%; }
.product-home-grid .product-image img { width: 100% !important; height: auto !important; }




/* Subject/Collection Category
%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%
*/

.create-art-list-container .category-collections { padding-bottom: 5%; width: 102%; }
.create-art-list-container .category-collections .category-isotope { margin: 0 10px 10px 0; }
.create-art-list-container .category-collections .overlay-opacity { display: none; position: absolute; width: 100%; height: 100%; opacity: 0.5; background-color: #000; }
.create-art-list-container .category-collections .overlay-icon { display: none; position: absolute; width: 100%; height: 100%; background-image: url("../images/more.png"); background-repeat: no-repeat; background-position: center center; background-size: auto 30%; }
.create-art-list-container .category-collections .overlay-info { position: absolute; right: 20px; top: 20px; color: #fff; font-family: bentonsansregular, Arial, "Helvetica Neue", Helvetica, sans-serif; font-size: 18px; line-height: 20px; text-align: center; }
.create-art-list-container .category-collections .category-isotope a:hover .overlay-opacity,
.create-art-list-container .category-collections .category-isotope a:hover .overlay-icon { display: block; }
.create-art-list-container .category-collections .black { color: #000; }