/* Slideshow
%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%
*/

/* Slide
-------------------------------------------------------------- */

.owl-carousel .slide .full-width {  width: 100%;  }
.owl-carousel .slide .caption.top { margin: 3% 0; width: 100%; }
.owl-carousel .slide .caption h3 { font: 3.5em bentonsansregular, Arial, "Helvetica Neue", Helvetica, sans-serif; color: #4d4d4d; }
.owl-carousel .slide .caption h3 a { color: #b1a06d; }
.slider-arrows2 .owl-controls .owl-buttons .owl-prev { left: 5%; border-radius: 50%; }
.slider-arrows2 .owl-controls .owl-buttons .owl-next { right: 5%; border-radius: 50%; }




/* home
%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%
*/

.home-sections-title .title-link { position: relative; bottom: -10px; float: right; color: #a48d4f; font: 15px bentonsansregular, Arial, "Helvetica Neue", Helvetica, sans-serif; text-transform: lowercase; letter-spacing: 0; }


/* Editor's picks section
-------------------------------------------------------------- */
#editor-picks-wrapper ul { text-align: left; }
#editor-picks-wrapper li { position: relative; display: inline-block; margin: 0 6px 10px 0; }
#editor-picks-wrapper .bg-image-pick { width: 180px;  height: 130px; background-position: center center; background-size: auto 200px; }
#editor-picks-wrapper .overlay-opacity { background-color: black; height: 100%; opacity: 0.5; position: absolute; width: 100%; display: none;}
#editor-picks-wrapper .overlay-more { background: url("../images/more.png") no-repeat center center; display: none; position: absolute; left: 50%; top: 50%; margin: -25px 0 0 -25px; width: 50px; height: 50px; }
#editor-picks-wrapper a:hover .overlay-opacity,#editor-picks-wrapper a:hover .overlay-more { display: block; }


/* Grid section
-------------------------------------------------------------- */
.product-home-grid  .bg-image-grid { position: absolute; left: 0; top: 0; width: 100%;  height: 100%; background-position: center center; background-size: auto 150%; }
.product-home-grid .product-image img { width: 100% !important; height: auto !important; }